# все правила .htaccess распространяются на текущую папку и все подпапки
# файлы .htaccess могут лежать в любых папках
# в подпапках дополнительно к этим правилам вступают в силу правила нижележажщих .htaccess
# .htaccess возвращает 403 (по меньшей мере в корне)

# Пример:
#Кодировка
#AddDefaultCharset UTF-8
# можно OFF


################### Defaults for Directories 

# Страница по умолчанию для url типа папок "catalog/"
<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>

# Запрет на отображение содержимого каталога при отсутствии индексного файла
# returns 403
Options -Indexes


################### Files
# Запрет файлов происходит поэтапно:
# 1) сначала проверяется путь (по папкам). если такого пути нет, то 404
# 2) если путь есть (по папкам), то проверяются правила запретов
#    - при запрете расширения, сразу возвращается 403, независимо от того, есть или нет такой файл тут
#    - при запрете имени файла с расширением, сразу возвращается 403, независимо от того, есть или нет такой файл тут
#    - при общем запрете всех файлов сразу возвращается 403 без проверки

# Запрет доступа к файлу, в этой папке и всех подпапках
<Files thislevel.php>
    Deny from all 
</Files>

# Пример запрета по маске:
#<FilesMatch "(config|functions).(php|js)$">
# Order Allow,Deny
# Deny from all
#</FilesMatch>

# Пример запрета по маске:
#<FilesMatch "\.(php|js|css)$">
# Order Allow,Deny
# Deny from all
#</FilesMatch>


#################### Errors

# Ответ при ошибках сервера (подставляется указанная страница, но не перенаправляется на неё)
ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
# ErrorDocument 500 /error.html



